<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Array test</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3>Array</h3>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="form-group has-info">

            <h3>Input</h3>
            <textarea class="form-control" rows="10" id="input">
[
'() [] () ([]()[])',
'( (] ([)]',
'{}[]()',
'{{}]}',
'{[}',
'[}]'
]
            </textarea>
            <span class="help-block">Please enter your array without semicolon.</span>
          </div>
        </div>  
        <div class="row">
          <input type="button" class="btn btn-primary" value="Run" id="run" />
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="row">
         <div class="form-group has-info">
           <h3>Output</h3>
           <textarea class="form-control" rows="10" id="output"></textarea>
         </div>
       </div>

     </div>  
   </div>
 </div>
 <script type="text/javascript" src="app.js"></script>
 <script type="text/javascript">
  document.getElementById("run").addEventListener("click", execute);
  function execute() {
    var stringArray = document.getElementById('input').value;
    var myArray = new Array(stringArray);
    var outputStringArray = JSON.stringify(myArray.process());
    document.getElementById('output').value = outputStringArray;
  }
</script>
</body>
</html>